<div class="body-padding">
  <div class="row form">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>プロフィールの編集が完了しました。</h3>
      <%= link_to "ホームに戻る", root_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
